<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main text-white p-10 w-full min-h-screen bg-casal-950">
        <a class="text-casal-200 inline-block mb-10" href="/">Home</a>
        <h1 class="text-4xl tracking-tighter text-casal-400"><%= filename %></h1>
        <p class="mt-6 font-extralightc text-casal-100"> <%= filedata %></p>
    </div>
</body>
</html>